head
	meta(charset="utf-8")

	title Reeddit

	meta(name="description", content="Elastic, minimal Reddit web-app reader client.")
	meta(name="author", content="Bernardo Baquero Stand")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
	meta(name="mobile-web-app-capable", content="yes")

	link(rel="icon", type="image/png", href="img/favicon.png")
	link(rel="apple-touch-icon-precomposed", sizes="144x144", href="img/icon144.png")

	link(rel="stylesheet", href="dist/app.min.css")

	script(src="https://cdn.dashjs.org/latest/dash.all.debug.js")


	script(src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.10.2/sql-wasm.js" integrity="sha512-Rw3r47C4BVCj/4dy0MiF30B9c7+dLNeJdgPkyw8KiiYqUzAP3XFFw90EjO7mHLkJBl7JCm+/iTuL9dGh47lbMw==" crossorigin="anonymous" referrerpolicy="no-referrer")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/sql.js/1.10.2/sql-asm-memory-growth.js" integrity="sha512-r+NlJGAHmOOybois6N5B86OLo1HEUqMpFG3mEBiCMNy1ch309OiH55b2X86IqKR7fQe9Z35o+rfnn6tatHNWFg==" crossorigin="anonymous" referrerpolicy="no-referrer")
	include ga-script
